// @import url('/css/hljs-zenburn.css');
// @pre-bg: #3f3f3f;
// @pre-fg: #dcdcdc;

// @import url('/css/hljs-github.css');
@import url('/css/hljs-googlecode.css');
// @import url('/css/hljs-color-brewer.css');
@pre-bg: #f8f8f8;
@pre-fg: #000000;

pre {
  background-color: @pre-bg !important;
  color: @pre-fg !important;
}